COR_ORIGIN=your-cors-origin

DATABASE_URL="postgresql://username:your_password@localhost:5432/bd-name?schema=public"

REDIS_PORT=your-redis-port
REDIS_HOST=your-redis-host

PORT=your-server-port

JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=your-jwt-expires-in

REFRESH_TOKEN_SECRET=your-refresh-token-secret
REFRESH_TOKEN_EXPIRES_IN=your-refresh-token-expires-in

FONTEND_RESET_PASSWORD_URL=your-frontend-reset-password-url

MAIL_USER=your-email
MAIL_PASSWORD=your-email-app-password

ALGORITHM=your-encryption-algorithm
ENCRYPTION_KEY=your-encryption-key